**Prof. english. listening.**

Lists.Tuples.Sets. https://www.youtube.com/watch?v=W8KRzm-HUcc&t=598s**

In [ ]:
a = 13
ascii(a)

'13'

In [ ]:
repr("123")

"'123'"


1.	Give a definition to list, tuple and set.

Lists, tuples and sets are built-in data types in Python used to store multiple items in a single variable. 

List items are ordered, changeable, and allow duplicate values.

Tuple items are ordered, unchangeable (we can't add or remove items), and allow duplicate values.

A set is a collection which is unordered, unchangeable, and unindexed.

In [ ]:
a = ['a', 12, 'dfsdf', 45.3]
type(a)

list

In [ ]:
a = ('a', 12, 'dfsdf', 45.3)
type(a)

tuple

In [ ]:
a = {'a', 12, 'dfsdf', 45.3}
type(a)

set

2.	Create a list of 10 student with a list of coursers for every student.

In [27]:
students_and_courses = {
                        'student1':['math','physics','chemistry'],
                        'student2':['math','physics'],
                        'student3':['math','physics','computer science'],
                        'student4':['math','physics','music','russian'],
                        'student5':['music','russian','history'],
                        'student6':['computer science', 'english'],
                        'student7':['russian', 'english','literature'],
                        'student8':['geography', 'english','biology'],
                        'student9':['computer science', 'math','biology', 'chemistry'],
                        'student10':['history', 'english','literature', 'russian']
                      }

3.	Calculate number of subjects for every student.

In [28]:
a = list(students_and_courses.values())
for i in range(len(a)):
  print('A number of courses of the %d student:' %(i+1), len(a[i]))

A number of courses of the 1 student: 3
A number of courses of the 2 student: 2
A number of courses of the 3 student: 3
A number of courses of the 4 student: 4
A number of courses of the 5 student: 3
A number of courses of the 6 student: 2
A number of courses of the 7 student: 3
A number of courses of the 8 student: 3
A number of courses of the 9 student: 4
A number of courses of the 10 student: 4

4.	Output the last subjects for every student.

In [29]:
for i in range(len(a)):
  print('A last course of the %d student:' %(i+1), a[i][-1])

A last course of the 1 student: chemistry
A last course of the 2 student: physics
A last course of the 3 student: computer science
A last course of the 4 student: russian
A last course of the 5 student: history
A last course of the 6 student: english
A last course of the 7 student: literature
A last course of the 8 student: biology
A last course of the 9 student: chemistry
A last course of the 10 student: russian

5.	Output every second subject for every student.

In [39]:
for i in range(len(a)):
  for j in range(len(a[i])):
    if (j != 0) and (j % 2 == 0):
      print('The %d student:' %(i+1), a[i][j])

The 1 student: Culture
The 1 student: math
The 2 student: physics
The 3 student: Culture
The 3 student: math
The 4 student: music
The 4 student: physics
The 5 student: Culture
The 5 student: music
The 6 student: english
The 7 student: Culture
The 7 student: russian
The 8 student: Culture
The 8 student: geography
The 9 student: biology
The 9 student: math
The 10 student: literature
The 10 student: english

6.	Insert a subject ‘Culture’ to the 3rd place for every student.

In [31]:
for i in range(len(a)):
  a[i].insert(2,'Culture')
  print(a[i])

['math', 'physics', 'Culture', 'chemistry']
['math', 'physics', 'Culture']
['math', 'physics', 'Culture', 'computer science']
['math', 'physics', 'Culture', 'music', 'russian']
['music', 'russian', 'Culture', 'history']
['computer science', 'english', 'Culture']
['russian', 'english', 'Culture', 'literature']
['geography', 'english', 'Culture', 'biology']
['computer science', 'math', 'Culture', 'biology', 'chemistry']
['history', 'english', 'Culture', 'literature', 'russian']

7.	What is the difference between append, insert and extend functions?

The append() method appends an element to the end of the list.

The insert() method inserts the specified value at the specified position.

The extend() method adds the specified list elements to the end of the current list.

8.	Insert subjects ’Art’ and ’Sports’ for every student.

In [32]:
for i in range(len(a)):
  a[i].extend(['Art','Sports'])
  print(a[i])

['math', 'physics', 'Culture', 'chemistry', 'Art', 'Sports']
['math', 'physics', 'Culture', 'Art', 'Sports']
['math', 'physics', 'Culture', 'computer science', 'Art', 'Sports']
['math', 'physics', 'Culture', 'music', 'russian', 'Art', 'Sports']
['music', 'russian', 'Culture', 'history', 'Art', 'Sports']
['computer science', 'english', 'Culture', 'Art', 'Sports']
['russian', 'english', 'Culture', 'literature', 'Art', 'Sports']
['geography', 'english', 'Culture', 'biology', 'Art', 'Sports']
['computer science', 'math', 'Culture', 'biology', 'chemistry', 'Art', 'Sports']
['history', 'english', 'Culture', 'literature', 'russian', 'Art', 'Sports']

9.	Remove the last subject for every student.

In [33]:
for i in range(len(a)):
  a[i].pop(-1)
  print(a[i])

['math', 'physics', 'Culture', 'chemistry', 'Art']
['math', 'physics', 'Culture', 'Art']
['math', 'physics', 'Culture', 'computer science', 'Art']
['math', 'physics', 'Culture', 'music', 'russian', 'Art']
['music', 'russian', 'Culture', 'history', 'Art']
['computer science', 'english', 'Culture', 'Art']
['russian', 'english', 'Culture', 'literature', 'Art']
['geography', 'english', 'Culture', 'biology', 'Art']
['computer science', 'math', 'Culture', 'biology', 'chemistry', 'Art']
['history', 'english', 'Culture', 'literature', 'russian', 'Art']

10.	Using a list of credits for different courses calculate number of credits for every student. (pop)

In [35]:
credits = {
             'math':5,
             'physics':6,
             'Culture':7,
             'chemistry':8,
             'Art':9,
             'computer science':10,
             'music':11,
             'russian':12,
             'history':13,
             'english':14,
             'literature':15,
             'geography':16,
             'biology':17
          }

In [36]:
for i in range(len(a)):
  s = 0
  for j in a[i]:
    s += credits[j]
  print('The %d student credit sum:' %(i+1), s)

The 1 student credit sum: 35
The 2 student credit sum: 27
The 3 student credit sum: 37
The 4 student credit sum: 50
The 5 student credit sum: 52
The 6 student credit sum: 40
The 7 student credit sum: 57
The 8 student credit sum: 63
The 9 student credit sum: 56
The 10 student credit sum: 70

11.	Sort subjects for every student in reverse order

In [37]:
for i in range(len(a)):
  a[i].reverse()
  print(a[i])

['Art', 'chemistry', 'Culture', 'physics', 'math']
['Art', 'Culture', 'physics', 'math']
['Art', 'computer science', 'Culture', 'physics', 'math']
['Art', 'russian', 'music', 'Culture', 'physics', 'math']
['Art', 'history', 'Culture', 'russian', 'music']
['Art', 'Culture', 'english', 'computer science']
['Art', 'literature', 'Culture', 'english', 'russian']
['Art', 'biology', 'Culture', 'english', 'geography']
['Art', 'chemistry', 'biology', 'Culture', 'math', 'computer science']
['Art', 'russian', 'literature', 'Culture', 'english', 'history']

12.	Print out the indexes of subject ‘CompSci’ for every student (if they have this subject)

In [44]:
for i in range(len(a)):
  try:
    comp_sci_index = a[i].index('computer science')
  except ValueError:
    print('computer science is not in list of courses for this student')
  else:
    print('The %d student computer science index :' %(i+1), comp_sci_index)

computer science is not in list of courses for this student
computer science is not in list of courses for this student
The 3 student computer science index : 1
computer science is not in list of courses for this student
computer science is not in list of courses for this student
The 6 student computer science index : 3
computer science is not in list of courses for this student
computer science is not in list of courses for this student
The 9 student computer science index : 5
computer science is not in list of courses for this student

13.	Print courses with indexes for student №3 (indexes must start from 1)

In [46]:
for j in range(len(a[2])):
  print('Course and index:', a[2][j], (a[2].index(a[2][j]) + 1))

Course and index: Art 1
Course and index: computer science 2
Course and index: Culture 3
Course and index: physics 4
Course and index: math 5

**14**.	What is the main difference between tuples and lists? In which cases is better to use tuples?

Similar to lists are tuples - essentially they are the same, except that a tuple cannot be modified once created. This can be useful for values that don’t change, like the alphabet for example.

15.	Create two sets. First set contains subjects of first 5 students, the second one – of last 5 students. Print out the number of subjects in created sets.

In [52]:
list_1 = []
list_2 = []
for i in range(len(a[:5])):
  list_1.extend(a[i])


for i in range(len(a[5:])):
  list_2.extend(a[i])

set_1 = set(list_1)
set_2 = set(list_2)

set_1

{'Art',
 'Culture',
 'chemistry',
 'computer science',
 'history',
 'math',
 'music',
 'physics',
 'russian'}

16.	Show the intersection and difference of 2 created sets.

In [54]:
set_1 & set_2

{'Art',
 'Culture',
 'chemistry',
 'computer science',
 'history',
 'math',
 'music',
 'physics',
 'russian'}

In [55]:
set_1 - set_2

set()

17.	Unify 2 sets.

In [56]:
set_1 | set_2

{'Art',
 'Culture',
 'chemistry',
 'computer science',
 'history',
 'math',
 'music',
 'physics',
 'russian'}

18.	Create empty list, tuple and set.

In [57]:
a = []
b = ()
c = {}