# Practical work 1

### Built-in Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

|Name                | Type                     | Example                                     |
|:--------------------|:-----------------------:|:---------------------------------------------|
|**Text Type:**	     |*str*                     |"dog"; "small"                                     |
|**Numeric Types:**	 |*int, float, complex*     | 0.1; 9.21; 11                           |
|**Sequence Types:** |*list, tuple, range*      | [5, "frog", "house", 7, 0.1]                |
|**Mapping Type:**	 |*dict*                    |thisdict = {"brand": "Ford", "year": 1964}   |
|**Set Types:**	     |*set, frozenset*          | {"apple", "banana"}                         |
|**Boolean Type:**   |*bool*                    | True/False                                  |
|**Binary Types:**	 |*bytes, bytearray*        | b"Hello"

### Data types

**1.TEXT TYPE (str)**

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [14]:
print("Hello World")
print('Hello World')

Hello World
Hello World

**1.1.Indexing**

Strings can be indexed (subscripted), with the first character having index 0. 
There is no separate character type; a character is simply a string of size one.
Indices may also be negative numbers, to start counting from the right:
 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1

In [15]:
word = "Python"     #[0123456] [-654321]

In [16]:
word[0]

'P'

In [17]:
word[-4]

't'

Note that since -0 is the same as 0, negative indices start from -1.

In addition to indexing, slicing is also supported. While indexing is used to obtain individual characters, slicing allows you to obtain substring:

In [18]:
print(word[0:2])  # characters from position 0 (included) to 2 (excluded)
print(word[2:5])  # characters from position 2 (included) to 5 (excluded)

Py
tho

Note how the start is always included, and the end always excluded. This makes sure that s[:i] + s[i:] is always equal to s:

In [23]:
print(word[:2] + word[2:])
print(word[:4] + word[4:])

Python
Python

**2.NUMERIC TYPES (int, float, complex)**

**2.1. int - constructs an integer number from an integer literal**

In [1]:
x = 20
x

20

**2.2.Input**

The input() method reads a line from input, converts into a string and returns it.

In [51]:
x=input()

123

In [3]:
print(x[0])
print(type(x))

1
<class 'str'>

To transform int to integer type call function int():

In [7]:
a = input()
b = input()
s = a + b
print("summ of strs = ",s)

a = int(input())
b = int(input())
s = a + b
print("summ of ints = ",s)

123
123
summ of strs =  123123
123
123
summ of ints =  246

**2.3.Split**

The split() method splits a string into a list. You can specify the separator, default separator is any whitespace.

In [10]:
x, y = input().split() 
print('x =', x)
print('y =', y)

123 234
x = 123
y = 234

**2.4.float**

In [16]:
x = 20.51
print(x)
print(type(x))

20.51
<class 'float'>

**2.5.complex**

In [17]:
a = 1j
b = 2j+123
print(a)
print(a+b)

1j
(123+3j)

**3.BOOLEAN TYPE (True/False)**

In [19]:
a = 5>3
print(a)

True

In [21]:
a==1

True

In [20]:
9<=5

False

**4.SEQUENCE TYPES (list, tuple, range)**

- **4.1.LIST** - are used to store multiple items in a single variable.

In [54]:
x = ["apple", "banana", "cherry"]
x

['apple', 'banana', 'cherry']

In [55]:
print(len(x))    #To determine how many items a list has, use the len() function

3

In [3]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male"]

How to **slice lists** in Python?
We can access a range of items in a list by using the slicing operator :(colon).

In [4]:
# List slicing in Python

my_list = ['0','1','2','3','4','5','6','7','8']

In [25]:
# elements 3rd to 5th
print(my_list[2:5])

['2', '3', '4']

In [5]:
# elements beginning to 4th
print(my_list[:-5])

['0', '1', '2', '3']

In [11]:
# reverse elements from -2 to -5 with step -1
print(my_list[-2:-5:-1])

['7', '6', '5']

In [27]:
# elements 6th to end
print(my_list[5:])

['5', '6', '7', '8']

In [28]:
# elements beginning to end
print(my_list[:])

['0', '1', '2', '3', '4', '5', '6', '7', '8']

In [12]:
# elements beginning from the end
print(my_list[::-1])

['8', '7', '6', '5', '4', '3', '2', '1', '0']

**Searching the element in a list**

The **list index()** method can take a maximum of three arguments:

    element - the element to be searched

    start (optional) - start searching from this index

    end (optional) - search the element up to this index

In [13]:
# alphabets list
alphabets = ['a', 'e', 'i', 'o', 'g', 'l', 'i', 'u']

# index of 'i' in alphabets
index = alphabets.index('e')   # 2
print('The index of e:', index)

# 'i' after the 4th index is searched
index = alphabets.index('i', 4)   # 6
print('The index of i:', index)

# 'i' between 3rd and 5th index is searched
index = alphabets.index('i', 3, 5)   # Error!
print('The index of i:', index)

The index of e: 1
The index of i: 6

ValueError: 'i' is not in list

The **append()** method adds an item to the end of the list.

In [16]:
animals = ['cat', 'dog', 'rabbit']

# 'guinea pig' is appended to the animals list
animals.append('guinea pig')

print(animals)

['cat', 'dog', 'rabbit', 'guinea pig']

The **extend()** method adds all the elements of an iterable (list, tuple, string etc.) to the end of the list.

In [17]:
# languages list
languages = ['French', 'English']

# another list of language
languages1 = ['Spanish', 'Portuguese']

# appending language1 elements to language
languages.extend(languages1)

print('Languages List:', languages)

Languages List: ['French', 'English', 'Spanish', 'Portuguese']

The **remove()** method removes the first matching element (which is passed as an argument) from the list.

In [23]:
# animals list
animals = ['cat', 'dog', 'rabbit', 'guinea pig']

# 'rabbit' is removed
animals.remove('rabbit')

# Updated animals List
print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'guinea pig']

The **count()** method returns the number of times the specified element appears in the list.

In [25]:
# vowels list
vowels = ['a', 'e', 'i', 'o', 'i', 'u'] #0-a,1-e,2,3,4,5

# count element 'i'
count = vowels.count('i')

# print count
print('The count of i is:', count)

# count element 'p'
count = vowels.count('p')

# print count
print('The count of p is:', count)

The count of i is: 2
The count of p is: 0

**4.2. RANGE**

Ranges implement all of the common sequence operations except concatenation and repetition 
(due to the fact that range objects can only represent sequences that follow a strict pattern and repetition 
 and concatenation will usually violate that pattern).

The advantage of the range type over a regular list or tuple is that a range object will always take the same (small) 
amount of memory, no matter the size of the range it represents 
(as it only stores the start, stop and step values, calculating individual items and subranges as needed).

Range objects implement the collections.abc.Sequence ABC, and provide features such as containment tests, element index lookup, slicing and support for negative indices

The **range()** function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

range(start, stop, step)

    start - Optional. An integer number specifying at which position to start. Default is 0

    stop - Required. An integer number specifying at which position to stop (not included).

    step - Optional. An integer number specifying the incrementation. Default is 1

In [59]:
r = range(0, 20, 2)
print(r)

print(10 in r)

print(r.index(10))

print(r[5])

print(r[:5])

print(r[-1])

range(0, 20, 2)
True
5
10
range(0, 10, 2)
18

In [58]:
list(range(3, 6)) #3,4,5

[3, 4, 5]

In [60]:
print(list(range(9))) #0,1,2,3,4,5,6,7,8

print(list(range(2,12,2))) #2,4,6,8,10

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[2, 4, 6, 8, 10]

In [56]:
list(range(10, -1, -2)) #10,8,6,4,2,0

[10, 8, 6, 4, 2, 0]

**4.3. TUPLES**

Tuples - are used to store heterogeneous data in a single variable. A tuple is a collection which is ordered, **unchangeable** and allow duplicate values. 

Tuples are written with round brackets. Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [45]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [38]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple4 = ("abc", 34, True, 40, "male")
tuple5 = ("abc", (34, True, 40), "male")
tuple6 = ("abc", (34, True, (40,50)), "male")


print(tuple4)
print(tuple1[1])
print(tuple5[1][2])
print(tuple6[0])
print(tuple6[1][2][1])

('abc', 34, True, 40, 'male')
banana
40
abc
50

**5. SET TYPES: SET**

**Sets** are used to store multiple items in a single variable.

A set is a collection which is both **unordered and unindexed**.

Sets are written with curly brackets.

Sets are unordered, so you cannot be sure in which order the items will appear.

Once a set is created, you cannot change its items, but you can add new items.

In [12]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False,True}
set4 = {"abc", 34, True, 40, "male",40,40,40}

print(set1,set2,set3,set4)

{'banana', 'apple', 'cherry'} {1, 3, 5, 7, 9} {False, True} {True, 34, 40, 'male', 'abc'}

**6. MAPPING TYPE: DICTIONARY**

In [2]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is unordered, changeable and does not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [7]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [10]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

### Python Operators

**1. Addition " + "**

In [6]:
x=1                 #set the value of variables
y=5
print(x+y)          #function Print - displays information

6

In [8]:
9+3.2

12.2

**2. Subtraction " - "**

In [10]:
1-7.1

-6.1

In [11]:
630-93

537

**3. Multiplication " * "**

In [17]:
6*31

186

In [18]:
10*120.5

1205.0

**4. Exponentiation " ** "**

In [24]:
2**10 #2^10

1024

In [25]:
5**3      #5*5*5

125

**5. Division " / "**

In [19]:
134/34

3.9411764705882355

In [27]:
26/5

5.2

**6. Modulus " % "**

In [22]:
93%7       #prints the remainder of the division

2

In [26]:
26%5      #26/5 = 5 and 1

1

**7. Floor division " // "**

In [28]:
26//5      #26/5 = 5 and 1

5

In [29]:
913//100

9

      Operator	                         Description	                                            Syntax
        >	   Greater than: True if left operand is greater than the right	                        x > y
        <	   Less than: True if left operand is less than the right	                            x < y
        ==	   Equal to: True if both operands are equal	                                        x == y
        !=	   Not equal to – True if operands are not equal	                                    x != y
        >=	   Greater than or equal to: True if left operand is greater than or equal to the right	x >= y
        <=	   Less than or equal to: True if left operand is less than or equal to the right	    x <= y

In [50]:
# Examples of Relational Operators
a = input("a = ")
b = input("b = ")

# a > b is False
print("a > b is - ", a > b)
 
# a < b is True
print("a < b is - ",a < b)
 
# a == b is False
print("a == b is - ", a == b)
 
# a != b is True
print("a != b is - ", a != b)
 
# a >= b is False
print("a >= b is - ", a >= b)
 
# a <= b is True
print("a <= b is- ", a <= b)

a = 123
b = 12
123
12
a > b is -  True
a < b is -  False
a == b is -  False
a != b is -  True
a >= b is -  True
a <= b is-  False

# Home work

###  List indexing

In [1]:
List = [[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]], 
    [[21, 22, 23, 24, 25, 26, 27, 28, 29, 30], [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]], 
    [[41, 42, 43, 44, 45], [46, [47, 48], 49, 50], [51, 52, 53, 54, 55], [56, 57, 58, 59, 60]], 
    [61, 62, 63, [64, 65, 66, 67, 68, 69, 70, 71], 72, 73, 74, [75, [76, 77, 78], 79], 80], 
    [81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

### 1. From the above list of lists, print the number `5` using indexes.

In [10]:
List[0][0][4]

5

### 2. From the above list of lists, print the number `48` using indexes.

In [15]:
List[2][1][1][1]

48

### 3. From the above list of lists, print the number `78` using indexes.

In [18]:
List[3][7][1][2]

78

### 4. From the above list of lists, print the number `99` using negative indexes (using **negative values**)

In [20]:
List[-1][-2]

99

### 5. From the above list of lists, **slice** with the number `74`.

In [24]:
List[-2][-3:-2:1]

[74]

### 6. From the above list of lists, **slice** with the number `47,48`.

In [31]:
List[2][1][1:2:1]

[[47, 48]]

### 7. From the above list of lists, **slice** with the number `77,78`.

In [36]:
List[-2][-2][1][1:]

[77, 78]

### The range () function

### 8. Use the `range` function to generate a sequence:
`[0, 1, 2, 3, 4]`

In [42]:
list(range(5))

[0, 1, 2, 3, 4]

### 9. Use the `range` function to generate a sequence:
`[3, 4]`

In [45]:
list(range(3,5))

[3, 4]

### 10. Use the `range` function to generate a sequence:
`[4, 8, 12, 16]`

In [48]:
list(range(4,17,4))

[4, 8, 12, 16]

### 11. Use the `range` function to generate a sequence:
`[16, 12, 8, 4]`

In [49]:
list(range(16,3,-4))

[16, 12, 8, 4]

### 12. Use the `range` function to generate a sequence:
`[0, 5, 10]`

In [50]:
list(range(0,11,5))

[0, 5, 10]

### 13. Use the `range` function to generate a sequence:
`[10, 5, 0]`

In [51]:
list(range(10,-1,-5))

[10, 5, 0]

### Operators and data types

### 14. The car leaves Moscow Ring Road and drives with a constant speed of **V kilometers** per hour. At what kilometer of the Moscow Ring Road is the car in **T hours**?
Length of the Moscow Ring Road: 109 km.

input format: <br>
60 <br>
1  

Output format: <br>
60

In [54]:
print('V =', end = '')
V = int(input())
print('T =', end ='')
T = int(input())

S = V*T
if S > 109:
    print('S =', S % 109)
else:
    print('S=', S)

V =50
T =3
S = 41

### 15. Write a program that asks for a five-digit integer and outputs the sum of its digits

*Input format:* <br>
11111
<br><br>
*Output format:* <br>
5

In [58]:
print('Input:')
input_digit = input()
if len(input_digit) != 5:
    print('Ошибка!')
else:
    summ = int(input_digit[0]) + int(input_digit[1]) + int(input_digit[2]) + int(input_digit[3]) + int(input_digit[4])
    print('Output:',summ)

Input:
12345
Output: 15

### 16. Write a program that asks for a four-digit integer and swaps its first two and last two digits.

*Input format:* <br>
5236 
<br><br>
*Output format:* <br>
3652

In [67]:
string = input()
if len(string) == 4:
    string_1 = string[2:4] + string[0:2]
    print(string_1)
else:
    print('Ошибка!')

1234
3412

### Dictionaries and Lists

### 17. You have a restaurant order list. Write a program that changes the dish indicated by the name to something else. In this case, the new dish in the list will be located in the place of the one that was replaced.

**input format:**

white wine

red wine

In [74]:
order = ['white wine', 'pizza', 'pasta', 'tiramisu', 'ice cream']

In [75]:
print('Введите название блюда из заказа, которое хотите поменять:')
dish = input()
if dish in order:
    print('Введите название блюда, на которое вы хотите заменить %s' %(dish))
    new_dish = input()
    index = order.index(dish)
    order[index] = new_dish
    print(order)
else:
    print('Ошибка!')

Введите название блюда из заказа, которое хотите поменять:
pizza
Введите название блюда, на которое вы хотите заменить pizza
plov
['white wine', 'plov', 'pasta', 'tiramisu', 'ice cream']

### 18. Add `go to the dentist` to your to-do list on **Tuesday morning**.

In [86]:
diary = {'monday': {
                          'morning': ['walk with the dog'],
                          'afternoon ': [],
                          'evening': ['walk with the dog']
                                      },
        'tuesday': {
                          'morning': ['walk with the dog'],
                          'afternoon ': [],
                          'evening': ['walk with the dog']
                                      },
        'wednesday': {
                          'morning': ['walk with the dog'],
                          'afternoon ': [],
                          'evening': ['walk with the dog']
                                      },
        'thurthday': {
                          'morning': ['walk with the dog'],
                          'afternoon ': [],
                          'evening': ['walk with the dog']
                                      },
        'friday': {
                          'morning': ['go to the tire service', 'wash a car'],
                          'afternoon ': [],
                          'evening': ['go to the theater',  'dinner in a cafe']
                                      },
        'saturday': {
                          'morning': [],
                          'afternoon ': [],
                          'evening': []
                                      },
        'sunday': {
                          'morning': [],
                          'afternoon ': [],
                          'evening': []
                                      }}

In [87]:
diary['tuesday']['morning'].append('go to the dentist')
print(diary['tuesday']['morning'])

['walk with the dog', 'go to the dentist']

### 19. Replace `going to the theater` with `going to the movies` on your Friday night to-do list.

In [88]:
diary['friday']['evening'][0]='go to the cinema'
print(diary['friday']['evening'])

['go to the cinema', 'dinner in a cafe']

### 20. Your friend will be back one day early from vacation, so he will pick up his dog on Wednesday, not Thursday. Remove the `walk with the dog` case from the corresponding lists.

In [89]:
diary['thurthday']['morning'].remove('walk with the dog')
diary['thurthday']['evening'].remove('walk with the dog')

In [90]:
print(diary['thurthday'])

{'morning': [], 'afternoon ': [], 'evening': []}

**Literature**
1. https://docs.python.org/3/
2. https://www.geeksforgeeks.org/python-programming-language/
3. https://www.tutorialspoint.com/python/